<div class='row about'>
    <div class='col-md-12 text-center'>
        <img alt="Logo" src="/images/logo.png" />
    </div>
    <div class='col-md-12'>
        <h3>City Report Cluj-Napoca</h3>
        <p>City Report Cluj-Napoca este o aplicație gratuită care pune la dispoziția utilizatorilor, în special clujenilor, dar nu numai, o unealtă prin care să poată raporta diferitele probleme sau incidente pe care le observă pe raza municipiului Cluj-Napoca.</p>
        <p>În același timp, aplicația este menită să ofere autorităților clujene un mijloc adițional, prin care să se poată identifica și localiza într-un mod rapid și ușor problemele și incidentele semnalate de cetățeni.</p>
        <p>
            Utilizatorii care folosesc aplicația pot vizualiza şi confirma incidentele raportate, pot sesiza incidente invalide sau pot raporta incidente noi într-un mod anonim, fără necesitatea de înregistrare în prealabil, doar cu condiția de acceptare a
            <a href="/eula">termenilor şi condițiilor de utilizare.</a>
        </p>
        <p>
            De asemenea, incidentele raportate pot fi vizualizate de pe orice dispozitiv cu conexiune la internet, accesând pagina de web dedicată
            <a href="http://52.17.17.4/"> aplicației.</a>
        </p>
        <p>
            Aplicația este disponibilă pentru descărcare şi instalare în magazinul Apple App Store:
            <a href='https://itunes.apple.com/us/app/city-report-cluj-napoca/id887848552?ls=1&amp;mt=8'> City Report Cluj-Napoca for iOS</a>
            , respectiv Google Play:
            <a href='https://play.google.com/store/apps/details?id=com.tecknoworks.cityreport'> City Report Cluj-Napoca for Android</a>
            și este destinată dispozitivelor mobile de tip smartphone: iPhone sau iPod, pe care rulează sistemul de operare iOS (începând cu versiunea 7.0), respectiv Android (începând cu versiunea 4.0).
        </p>
        <p>Aplicaţia urmează să fie disponibilă  în curând şi pentru alte dispozitive, platforme şi sisteme de operare.</p>
        <p>
            Aplicația este dezvoltată în cadrul companiei
            <a href="http://tecknoworks.com">Tecknoworks</a>
        </p>
    </div>
</div>

