<ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'
    events='map.events'>
    <ui-gmap-markers models='map.markers' coords="'self'" icon="'icon'"
        events="map.markersEvents" doCluster="map.doCluster" fit="map.fit">
    </ui-gmap-markers>
    <ui-gmap-window show="map.window.show" coords="map.window.model"
        options="map.window.options" closeClick="map.window.closeOnClick()"
        templateUrl="'views/infowindow.tpl.html'"
        templateParameter="map.window.model" ng-cloak>
    </ui-gmap-window>
</ui-gmap-google-map>

<!-- <md-button class="md-fab md-primary md-fab-bottom-right" aria-label="Add" ng-click="goTo('/new')"> -->
    <!-- <md-icon md-svg-icon="add"></md-icon> -->
<!-- </md-button> -->

<!-- <md-button class="md-fab md-primary md-fab-top-right" aria-label="Menu" ng-click="closeList('left')"> -->
    <!-- <md-icon md-svg-icon="menu"></md-icon> -->
<!-- </md-button> -->
