<!-- TODO speak with catalin about href -->
<a href="#">
  <li>
  <h4><%= issue.title %></h4>
  <p>
    <%= issue.latitude %>
    <%= issue.longitude %>
    <%= issue.category.name %>
  </p>
  </li>
</a>
