#map-main.container-map
#map-overlay.container-map
  %img{:src => '/images/logo.png'}
  %br
  %center
    %img{:src => '/images/icons/altele.png', :alt => 'altele'}
    %img{:src => '/images/icons/groapa.png', :alt => 'groapa'}
    %img{:src => '/images/icons/gunoi.png', :alt => 'gunoi'}
    %img{:src => '/images/icons/rutiere.png', :alt => 'rutiere'}
    %img{:src => '/images/icons/vandalism.png', :alt => 'vandalism'}
