#map-main.container-map
#map-toggle
  %img.rotate180{:src => '/images/arrow.png'}
#map-overlay.container-map
  %div.subtle-border
    %img{:src => '/images/logo.png'}
  %div
    %div.content
      %p O aplicatie pentru telefoane mobile cu ajutorul careia poti raporta probleme in Cluj-Napoca.
    %a{:href => "https://play.google.com/store/apps/details?id=org.smarttech"}
      %img{:alt => "Get it on Google Play", :src => "https://developer.android.com/images/brand/en_generic_rgb_wo_45.png"}
    %a{:href => "https://play.google.com/store/apps/details?id=org.smarttech"}
      %img{:alt => "Get it on Google Play", :src => "https://developer.android.com/images/brand/en_generic_rgb_wo_45.png"}
  %div.pull-bottom{:style => 'background-color: white'}
    %br
    %img{:src => '/images/st2k.png'}
    %br
    %p by the way.. we are hiring
