!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Repara Clujul
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %script{"data-main" => "/assets/main.js", :src => "/assets/lib/require/require.js"}
    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .container
      .navbar.navbar-square
        .navbar-inner
          .container
            %a#logo-main.brand-center{:href => '/'}
              %img{:alt => "Repar Clujul", :src => "/assets/logo.png"}/
    .container.container-main
      = yield
    #map-main.container-map
    %footer
      .container
        .row
          .span4
            %p
              %a{:href => "mailto:info@smarttech2000.com"} info@smarttech2000.com
            %p
              Calea Turzii, nr.199, Suite 8-10,
              %br/
              400495 Cluj-Napoca, CJ, Romania
            %p
              Tel: +40 (0)364 116 231
              %br/
              Fax: +40 (0)364 116 230
          .offset2.span6
            %a.twitter-timeline{"data-widget-id" => "268299118294728705", :href => "https://twitter.com/search?q=%23reparaclujul"} Tweets about "#reparaclujul"
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
