!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Repara Clujul

    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/style.css"}

    %script{:src => "/javascripts/jquery.js", :type => "text/javascript"}
    %script{:src => "/javascripts/jquery.ui.map.js", :type => "text/javascript"}
    %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"}
  %body
    = yield
    #map-main.container-map
    %script{:src => "/javascripts/app.js", :type => "text/javascript"}
