#map-main {
  z-index: 20;

  position: absolute;
  top: 0px;
  left: 0px;

  height: 100%;
  width: 100%;
}

#map-overlay {
  z-index: 30;
  background-color: white;

  position: absolute;
  float: left;

  left: 0px;
  top: 0px;
  bottom: 0px;

}

#map-toggle {
  z-index: 40;
  position: absolute;

  width: 30px;
  height: 30px;


  top: 0px;
  left: 0px;
}

.container-map {
  width: 381px;
}

#map-overlay img {
}

#map-overlay div {
  margin: auto;
  width: 381px;
  text-align: center;
}

.pull-bottom {
  position: absolute;
  bottom: 0px;
  padding-bottom: 20px
}

.rotate180 {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

.small {
  width: 320px;
  height: auto;
}
