#map-main {
  z-index: 20;

  position: absolute;
  top: 0px;
  left: 0px;

  height: 100%;
  width: 100%;
}

#map-overlay {
  z-index: 30;
  background-color: white;

  position: absolute;
  float: right;

  right: 0px;
  top: 0px;
  bottom: 0px;

}

.container-map {
}

#map-overlay img {
}

.small {
  width: 320px;
  height: auto;
}
