#map-main {
  z-index: 20;

  position: absolute;
  top: 0px;
  left: 0px;

  height: 100%;
  width: 100%;
}

#map-overlay {
  z-index: 30;

  position: absolute;
  float: left;
  bottom: 10px
}

.container-map {
}

#map-overlay img {
  float: left;
  position:absolute;
  bottom: 10px;
}
