<div class="row row-map-offset">
	<div class="span12">

		<a class="btn btn-large btn-warning pull-right">Descarca aplicatia!</a>

	    <h2>
	    	Si tu poti da o mana de ajutor!
	    </h2>

	    <p>
	    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	    	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	    	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	    	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	    </p>

	    <hr>

	    <form class="pull-right">
			<select>
				<option>Filtreaza categorii...</option>
				<option>Trafic</option>
				<option>Gunoi</option>
				<option>Parcuri</option>
			</select>
	    </form>

    	<h2>Probleme Semnalate</h2>
    	<p>
    		Acestea sunt problemele pe care le-ati semnalat voi, cetatenii clujului.
    	</p>

    	<ul class="issues unstyled">
        <%= render @issues %>
    	</ul>
    </div>
</div>

<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBG6ka2KvjYONXkPhAB0CJMWXbPqF4KlXk&sensor=true">
</script>
