<div class="row">
	<div class="span12">
	    <h1>Rails + Bootstrap QuickStarter</h1>
	    <p>
	    	Use this document as a way to quick start any new project. Here's a list of nifty stuff you get:
	    </p>
	    <ul>
	    	<li>Bootstrap served in .less, compiled server side</li>
	    	<li>jQuery and possibly some plugins</li>
	    	<li>Backbone.js for infrastructure</li>
	    	<li>Basic Index view and master template</li>
	    	<li>Require.js modules and configuration to load the js libraries</li>
	    </ul>
    </div>
</div>