body
  padding-top: 100px

.statistic
  span
    display: block
    margin: 0 auto
    height: 70px
    width: 70px
    line-height: 70px

    -moz-border-radius: 40px
    border-radius: 40px

    background-color: black
    color: white
    text-align: center
    font-size: 2em
  p
    text-align: center

.fullscreen-map-container
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 100%

.map-header
  height: 400px

.eula, .about
  text-align: justify

.map
  z-index: 20
  top: 0px
  left: 0px
  height: 100%
  width: 100%

.rotate180
  -moz-transform: rotate(180deg)
  -webkit-transform: rotate(180deg)
  -o-transform: rotate(180deg)
  -ms-transform: rotate(180deg)

.small
  width: 100px
  height: auto
  max-width: 200px
  max-height: 200px

a
  text-decoration: none

#logo
  z-index: 50
  position: absolute
  right: 0px
  bottom: 0px
  padding: 50px

.spacer
  padding-top: 60px

td, tr, th
  text-align: center

.table-issues
  tbody
    tr, td
      cursor: pointer
      cursor: hand

  .issue-id
    text-align: left
    width: 10px
  .issue-name
    text-align: left
  .issue-number
    text-align: right
