.map{'data-q' => params['q'], 'data-lat' => Repara.map_center['lat'], 'data-lon' => Repara.map_center['lon']}

- content_for :scripts do
  %script{src: "//cdnjs.cloudflare.com/ajax/libs/jquery-ui-map/3.0-rc1/min/jquery.ui.map.min.js"}
  %script{src: "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"}
