#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Issue Details
      .modal-body
        %form{role: "form"}
          .form-group
            %label{for: "issueTitle"} Title
            %input#issueTitle.form-control{placeholder: "Enter title", type: "text"}/
          .form-group
            %label{for: "issueCategory"} Category
            %select#issueCategory.form-control
              - Repara.categories.each do |category|
                %option{value: category}= category
          .form-group
            %label{for: "issueAddress"} Address
            %input#issueAddress.form-control{placeholder: "Address", type: "text"}/
          .form-group
            %label{for: "issueLat"} Latitude
            %input#issueLat.form-control{placeholder: "Latitude", type: "text"}/
          .form-group
            %label{for: "issueLon"} Longitude
            %input#issueLon.form-control{placeholder: "Longitude", type: "text"}/
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
            %button.btn.btn-primary{type: "button"} Save changes
