.row.spacer
  .col-md-8
    .map-header
      = partial '_map'
  .col-md-4
    = partial '_issues_by_category_graph'
.row.spacer
  -# %img.center-block.img-responsive{src: "/images/marker.png"}
.row
  .col-md-6
    %table.table.table-stripped.table-hover#adminTable
      %thead
        %tr
          %th name
          %th address
          %th lat
          %th lon
          %th actions
      %tbody
  .col-md-6
