.doc
  %h1 Repara Clujul API Doc
  %p The API has two main components. The Image Upload Service and the Issue Reporting Service
  %h2 Image Upload Service
  %p <b>POST</b> /upload with 'image' param
  %p Examples:
  %p curl -X POST -F "image=@public/images/logo.png" http://localhost:9292/upload
  %p
    %a{:href => '/up'} form example
  %p Sample response:
  %pre= pretty_json(generate_upload_response('image.png'))
  %h2 Issue Reporting Service
  %p All requests should have the Content-Type header set to <b>application/json</b>
  %p Example issue
  %pre= pretty_json Issue.first.to_json
  %p <b>GET</b> /meta
  %p
    %a{:href => '/meta'} Example
  %p <b>GET</b> /issues
  %p <b>POST</b> /issues
  %p curl -X POST -H 'Content-Type: application/json' -d '{"name":"hello", "category":"altele"}' http://localhost:9292/issues
  %p Required params: name, category
  %p
    Valid categories:
    = settings.config['meta']['categories']
  %p <b>PUT</b> /issues
  %p <b>PUT</b> /issues/:id/add_to_set
  %p required body
  %pre= pretty_json({'images' => ['url1', 'url2'] }.to_json)
