.row.spacer
  .col-md-8
    .map-header
      = partial '_map'
  .col-md-4
    = partial '_issues_by_category_graph'
.row.spacer
  -# %img.center-block.img-responsive{src: "/images/marker.png"}
  .col-md-8
    %form{role: "form", method: 'GET', url: '/admin'}
      .input-group
        %input.form-control{name: 'q', type: 'text', placeholder: "Search within #{Issue::SEARCHABLE_FIELDS.to_sentence}", value: params['q']}
        %span.input-group-btn
          %button.btn.btn-default{type: 'submit'} search
.row.spacer
  %table.table.table-stripped.table-hover
    %thead
    %tbody
      - @issues.each do |issue|
        = partial '_issue_tr', issue: issue
