%html
  %body
    %h1 File uploader!
    %form(action="/issues" method="post" enctype='multipart/form-data')
      %input(type='file' name='image')
      %br
      %input(type='text' name='lat')
      %br
      %input(type='text' name='lon')
      %br
      %input(type='text' name='title')
      %br
      %input(type='submit' value='Upload!')
